*.py linguist-language=Python
*.pyw linguist-language=Python
*.pyi linguist-language=Python
*.ipynb linguist-language=Python

jhonatan/** linguist-vendored

html/** linguist-vendored
*.html linguist-vendored

README.md linguist-documentation
readme.md linguist-documentation

*.py text eol=lf
